# SQL ASSIGNMENT 3

•	Customers: stores customer’s data.
•	Products: stores a list of scale model cars.
•	Product Lines: stores a list of product line categories.
•	Orders: stores sales orders placed by customers.
•	Order Details: stores sales order line items for each sales order.
•	Payments: stores payments made by customers based on their accounts.
•	Employees: stores all employee information as well as the organization structure such as who reports to whom.
•	Offices: stores sales office data.

1.	Write SQL query to create table Customers.

2.	Write SQL query to create table Orders.

3.	Write SQL query to show all the columns data from the Orders Table.

4.	Write SQL query to show all the comments from the Orders Table.

5.	Write a SQL query to show orderDate and Total number of orders placed on that date, from Orders table.

6.	Write a SQL query to show employeNumber, lastName, firstName of all the employees from employees
    table.

7.	Write a SQL query to show all orderNumber, customerName of the person who placed the respective order.

8.	Write a SQL query to show name of all the customers in one column and salerepemployee name inanother column.
 
9.	Write a SQL query to show Date in one column and total payment amount of the payments made on that date from the payments table.

10.	Write a SQL query to show all the products productName, MSRP, productDescription from the products
table.

11.	Write a SQL query to print the productName, productDescription of the most ordered product.

12.	Write a SQL query to print the city name where maximum number of orders were placed.

13.	Write a SQL query to get the name of the state having maximum number of customers.

14.	Write a SQL query to print the employee number in one column and Full name of the employee in the second column for all the employees.

15.	Write a SQL query to print the orderNumber, customer Name and total amount paid by the customer for that order (quantityOrdered × priceEach).

In [2]:
import sqlite3

In [3]:
db=sqlite3.connect("my_database.qb")

# Q1. Write SQL query to create table Customers.

In [ ]:
db.execute("CREATE TABLE customers(customerNumber int,customerName varchar(255),contactLastName varchar(255),contactFirstName varchar(255),phone int,addressLine1 varchar(255),addressLine2 varchar(255),city varchar(255),state varchar(255),postalCode varchar(20),country varchar(255),salesRepEmployeeNumber varchar(50),creditLimit int)")

# Q2. Write SQL query to create table Orders.

In [ ]:
db.execute("CREATE TABLE orders(orderNumber int,orderDate varchar(255),requiredDate varchar(255),shippedDate varchar(255),status varchar(50),comments varchar(255),customerNumber int)")

# Q3. Write SQL query to show all the columns data from the Orders Table.

In [6]:
result=db.execute("SELECT * FROM orders")
for rows in result:
    print(rows)

# Q4. Write SQL query to show all the comments from the Orders Table.

In [7]:
result=db.execute("SELECT comments FROM orders")
for rows in result:
    print(rows)

# Q5. Write an SQL query to show orderDate and Total number of orders placed on that date, from Orders table.

In [8]:
result=db.execute("SELECT orderDate, COUNT(DISTINCT orderdate) FROM orders")
for rows in result:
    print(rows)

(None, 0)

# Q6. Write a SQL query to show employeNumber, lastName, firstName of all the employees from employees table.

In [9]:
result=db.execute("SELECT employeeNumber,lastName,firstName, FROM employees")
for rows in result:
    print(rows)

OperationalError: near "FROM": syntax error

# Q7. Write a SQL query to show all orderNumber, customerName of the person who placed the respective order

In [ ]:
result=db.execute("SELECT Orders.orderNumber,Customers.CustomerName FROM Customers INNER JOIN Orders ON Customers.CustomerNumber=Orders.CustomerNumber")
for rows in result:
    print(rows)

# Q8. Write a SQL query to show name of all the customers in one column and salerepemployee name in another column

In [ ]:
result=db.execute("SELECT customers.customerName,employees.salesRepEmployeeNumber FROM customers INNER JOIN employees ON employees.employeeNumber = customers.salesRepEmployeeNumber")
for rows in result:
    print(rows)

# Q9. Write a SQL query to show Date in one column and total payment amount of the payments made on that date from the payments table.

In [ ]:
result=db.execute("SELECT paymentDate,amount FROM payments")
for rows in result:
    print(rows)

# Q10. Write a SQL query to show all the products productName, MSRP, productDescription from the products table.

In [ ]:
result=db.execute("SELECT productName, MSRP, productDescription FROM products")
for rows in result:
    print(rows)

# Q11. Write a SQL query to print the productName, productDescription of the most ordered product.

In [ ]:
result=db.execute("SELECT products.productName,products.productDescription,MAX(orderdetails.quantityOrdered) FROM products INNER JOIN orderdetails ON products.productcode = orderdetails.productcode")
for rows in result:
    print(rows)

# Q12. Write a SQL query to print the city name where maximum number of orders were placed.

In [ ]:
result=db.execute("SELECT city FROM customers where order=MAX")
for rows in result:
    print(rows)

# Q13. Write a SQL query to get the name of the state having maximum number of customers.

In [ ]:
result=db.execute("SELECT state FROM customers where customer=MAX")
for rows in result:
    print(rows)

# Q14. Write a SQL query to print the employee number in one column and Full name of the employee in the second column for all the employees.

In [ ]:
result=db.execute("SELECT employeeNumber, CONCAT(firstName,lastName) AS Full name FROM employees")
for rows in result:
    print(rows)

# Q15. Write a SQL query to print the orderNumber, customer Name and total amount paid by the customer for that order (quantityOrdered × priceEach)

In [ ]:
result=db.execute("SELECT products.productName,products.productDescription,MAX(orderdetails.quantityOrdered) FROM products INNER JOIN orderdetails ON products.productcode = orderdetails.productcode")
for rows in result:
    print(rows)